.project-field-row {

}
.project-field-row > .form-item {
    width: 33%;
    float: left;
}
.clear {
    clear: both;
}
.worklogformcatcher {
    padding-left: 80px;
}
.xtask_list blockquote {
    margin-top: 0;
}
.xtask_list td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}
    
.taskHeader {

}
.taskName {
    width: auto;
    padding-left: 2px;
}
.subtask1Name {
    padding-left: 2em;
}
.subtask2Name {
    padding-left: 4em;
}
.subtask3Name {
    padding-left: 6em;
}
.subtask4Name {
    padding-left: 8em;
}
.subtask5Name {
    padding-left: 10em;
}
.subtask6Name {
    padding-left: 12em;
}
.subtask7Name {
    padding-left: 14em;
}
.subtask8Name {
    padding-left: 16em;
}
.taskStatus {
    width: 4em;
}
.taskAssignedTo {
    width: 5em;
    white-space: nowrap;
}
.taskImportance {
    max-width: 40px;
    white-space: nowrap;
}
.taskPriority {
    max-width: 40px;
    white-space: nowrap;
}
.taskImportance span, .taskPriority span,
.taskImportance a, .taskPriority a  {
    width: 13px;
    display: block;
    float: left;
}
.taskProgress {
    width: 2em;
}
.taskOptions {
    width: 6em;
    white-space: nowrap;
    text-align: right;
}
.xtask_list td.task_description {
    padding: 0;
}
table.xtask_list {
    width: 100%;
}
.btn_task_expand {
    cursor: pointer;
}
#workloglistpage {
    width: 100%;
}
.xtask_form_notice {
    font-size: 80%;
    text-decoration: italics;
}
#criticalpath_container {
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
}
#criticalpath {
    vertical-align: top;
}
#criticalpath .tasklist {
    vertical-align: top;
}
#criticalpath .milestone {
    min-width: 150px;
    vertical-align: top;
}

#criticalpath .milestone .task {
    min-width: 150px;
    vertical-align: top;
}

#criticalpath .milestone .subtask {
    width: 150px;
    vertical-align: top;
}
#criticalpath .taskName {
    white-space: nowrap;
}
#criticalpath .milestone .taskName {
    padding: 2px 5px;
    font-size: 120%;
}
#criticalpath .task .taskName {
    padding: 2px 5px;
    font-size: 110%;
}
#criticalpath .taskDates {
    margin-left: 15px;
}
table#xproject_report {
    width: 100%;
}
table#xproject_report th {
    white-space: nowrap;
}
table#xproject_report tr:odd {
    background-color: #ccc;
}
#xtasks-filter-form .form-checkboxes .form-item {
    float: left;
    width: auto;
    margin-right: 10px;
}
.taskWarning {
    background-color: #cc0000;
}
#xcontact-merge .form-item .form-radios .form-item {
    float: left;
    width: 50%;
}
#xcontact-merge .form-item > label {
    clear: left;
    float: left;
    width: 30%;
}
#xcontact-merge .form-item .form-radios .form-item input,
#xcontact-merge .form-item .form-radios .form-item label input {
    margin: 0;
}
#xcontact-merge .form-item .form-radios .form-item label {
    margin-right: 5%;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
}
#xcontact-merge .form-item .form-radios .form-item {
    margin: 0;
}
#xcontact-merge #xcontact_merge_header label.option {
    font-weight: bold;
}
#xcontact-merge #xcontact_merge_footer label {
    font-style: italic;
}
#xcontact-merge .form-item .form-radios {
    float: left;
    margin: 0;
    width: 60%;
}
#xcontact-merge .form-item:after {
    clear: both;
}